.venv/
node_modules/
diffusers.venv/
node_modules/
__pycache__/
.env
.DS_Store
dist/.
vscode/
pycache/
*.pyc
__pycache__/
db.json
LoRAs/
.vscode/
__pycache__/
venv/
get-pip.py 
*.log
build/
start_backend.sh
src/assets/shape_predictor_68_face_landmarks.dat
node_modules/
__pycache__/
*.pyc
.env
db.sqlite3
.DS_Store
.vscode/
.idea/
logs/
*.log
LoRAs/
checkpoints/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/