.venv/
src/assets/shape_predictor_68_face_landmarks.dat
log/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.env
db.cpython-310.pyc
db.cpython-311.pyc
tests/__pycache__/
tests/*.pyc
LoRAs/
node_modules/
dist/
build/
*.egg-info/

